input[type=checkbox] {
    display: none;
}
  
.container img {
    transition: transform 0.25s ease;
    cursor: zoom-in;
}
  
input[type=checkbox]:checked ~ label > img {
    transform: scale(2);
    cursor: zoom-out;
}
