:root {
	--main-color: #216dfa;
	--secondary-color: #216dfa;
}

.github-corner {
	display: none;
}

/* Markdown style */
.anchor,
.markdown-section a {
	color: var(--secondary-color) !important;
}

.markdown-section blockquote {
	border-left: 4px solid var(--main-color);
}

.markdown-section tr:nth-child(2n) {
	background: none;
}

/* Sidebar style */
.sidebar {
	background-color: rgba(0, 0, 0, 0.07);
	border: none;
}

.sidebar img {
	width: 35%;
}

.folder {
	cursor: pointer;
}

.sidebar ul li.active > a {
	text-decoration: none;
	color: var(--main-color) !important;
}

.sidebar ul li > a {
	font-size: 1rem;
}

.sidebar-toggle-button > span {
	background-color: var(--main-color) !important;
}

/* Coverpage style */
.show {
	background: none !important;
}

.cover-main {
	background: none;
}

.cover-image {
	max-width: 15%;
	max-height: 15%;
}

section.cover .cover-main > p:last-child a:last-child {
	background-color: var(--main-color) !important;
	border-color: var(--main-color) !important;
}

section.cover .cover-main > p:last-child a {
	color: var(--main-color);
	border-color: var(--main-color) !important;
}

/*		Table		*/

.backlogTable {
}

.backlogTheme {
	writing-mode: vertical-rl;
	text-orientation: upright;
	color: seashell !important;
	background-color: rgb(5, 49, 58);
	border-collapse: collapse !important; 
	border-radius: 20px !important;
	border-spacing:0 15px;
}

.backlogEpics {
	text-align: center !important; 
	width: 100px !important;
	color: seashell !important;
	background-color: rgb(5, 49, 58) !important;
	border-collapse: collapse !important; 
	border-radius: 20px !important;
	border-spacing:0 15px !important;
}

.backlogFeatures {
	text-align: center !important;
	width: 100px !important;
	color: seashell !important;
	background-color: rgb(5, 49, 58) !important;
	border-collapse: collapse !important; 
	border-radius: 20px !important;
}

.backlogUserStories {
	text-align: center !important;
	width: 250px !important;
	color: seashell !important;
	background-color: rgb(5, 49, 58) !important;
	border-collapse: collapse !important; 
	border-radius: 20px !important;
}

.backlogThemeH {
	text-align: center !important;
	width: 50px !important;
	color: seashell !important;
	background-color: rgb(5, 49, 58) !important;
	border-collapse: collapse !important; 
	border-radius: 20px !important;
}

.backlogTasks {
	text-align: center !important;
	width: 250px !important;
	color: seashell !important;
	background-color: rgb(5, 49, 58) !important;
	border-collapse: collapse !important; 
	border-radius: 20px !important;
}


.backlogID {
	text-align: center !important;
	width: 50px !important;
	color: seashell !important;
	background-color: rgb(5, 49, 58) !important;
	border-collapse: collapse !important; 
	border-radius: 20px !important;
}

.backlogEpic1 {
	text-align: center !important;
	color: seashell !important;
	background-color: rgb(25, 90, 96) !important;
	border-collapse: collapse !important; 
	border-radius: 20px !important;
}

.user1 {
	text-align: center !important;
	color: seashell !important;
	background-color: rgb(25, 90, 96) !important;
	border-collapse: collapse !important; 
	border-radius: 20px !important;
}

.user1-2 {
	text-align: center !important;
	color: seashell !important;
	background-color: rgb(62, 132, 139) !important;
	border-collapse: collapse !important; 
	border-radius: 20px !important;
}

.user2 {
	text-align: center !important;
	color: seashell !important;
	background-color: rgb(62, 132, 139) !important;
	border-collapse: collapse !important; 
	border-radius: 20px !important;
}

.user2-2 {
	text-align: center !important;
	color: seashell !important;
	background-color: rgb(25, 90, 96) !important;
	border-collapse: collapse !important; 
	border-radius: 20px !important;
}

.linkBacklog:link, .linkBacklog:visited {
	color: seashell !important;
}